<%- include("partials/_header") %>

<div class="container d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <form id="loginForm" action="/changeNewPassword" method="post">   
          <p class="text-light">La contraseña debe contener como minímo 1 carácter en minuscula, uno en mayuscula y 8 caracteres</p>
   
          <div class="mb-3">
            <label class="form-label">Nueva Contraseña</label>
            <input type="password" name="password1" class="form-control" required>
          </div>   
          <div class="mb-3">
            <label class="form-label">Confirme la nueva contraseña</label>
            <input type="password" name="password2" class="form-control" required>
          </div> 
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div> 
  </div>
</div>

<%- include("partials/_footer") %>