<%- include("partials/_header") %>

<div>
    <p class="text-light text-center  fs-3"> Bienvenido a Puerto Aventura.</p>
    <p class="text-light text-center  fs-3"> Donde encontraras las mejores embarcaciones para intercambiar</p>
</div>
<div class="d-flex justify-content-center">
    <img src="embarcacion-home.webp" class="imagenEmbarcacion p-5 d-flex" alt="Foto embarcacion">
</div>


<%- include("partials/_footer") %>